<a href="https://colab.research.google.com/github/radhikagupta6/Machine-Learning-and-Data-Science-Algorithms/blob/master/varclushi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Varclushi - is a python module for performing variable clustering so as to reduce dimensionality.

In [ ]:
!pip install varclushi

Requirement already satisfied: varclushi in /usr/local/lib/python3.6/dist-packages (0.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from varclushi) (1.18.5)
Requirement already satisfied: factor-analyzer==0.3.1 in /usr/local/lib/python3.6/dist-packages (from varclushi) (0.3.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from varclushi) (1.1.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from factor-analyzer==0.3.1->varclushi) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from factor-analyzer==0.3.1->varclushi) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->varclushi) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->varclushi) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->factor-analyzer==0.3.1->varclushi) (0.17.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->varclushi) (1.15.0)

In [ ]:
import pandas as pd
from varclushi import VarClusHi

In [ ]:
data  = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')

The data has 10 features excluding the target variable 'quality'

In [ ]:
data

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
data.drop('quality', axis = 1, inplace = True)

VarClushi object has :
* the dataframe having all features
* max second eigenvalue which has a default of 1, larger value of this parameter gives fewer clusters while Smaller value gives more clusters and more variation explained
* maxClus which has None as default

In [ ]:
data_vc = VarClusHi(data,maxeigval2= 1)

Varclus method performs the variable clustering

In [ ]:
data_vc.varclus()

number of clusters, number of variables in each cluster (N_vars), variance explained by each cluster (Eigval1), etc.

In [ ]:
data_vc.info

  Cluster N_Vars   Eigval1   Eigval2   VarProp
0       0      3  2.141357  0.658413  0.713786
1       1      3  1.766885  0.900991  0.588962
2       2      2  1.371260  0.628740  0.685630
3       3      2  1.552496  0.447504  0.776248
4       4      1  1.000000  0.000000  1.000000

Calculates (1 - R squarred ) Ratio for each variable. 
(1 - R squarred ) ratio = (1 - R squared) of own cluster / (1 - R squared) of next closest

In [ ]:
data_vc.rsquare

   Cluster              Variable    RS_Own     RS_NC  RS_Ratio
0        0         fixed acidity  0.882210  0.277256  0.162976
1        0               density  0.622070  0.246194  0.501362
2        0                    pH  0.637076  0.194359  0.450478
3        1   free sulfur dioxide  0.777796  0.010358  0.224530
4        1  total sulfur dioxide  0.786660  0.042294  0.222761
5        1        residual sugar  0.202428  0.045424  0.835525
6        2             sulphates  0.685630  0.106022  0.351653
7        2             chlorides  0.685630  0.048903  0.330534
8        3           citric acid  0.776248  0.398208  0.371810
9        3      volatile acidity  0.776248  0.040920  0.233299
10       4               alcohol  1.000000  0.082055  0.000000

Selecting the variable in each cluster having the least  1 — R2 ratio, discarding other variables

In [ ]:
d2 = data_vc.rsquare

In [ ]:
df = d2.groupby(['Cluster'])['RS_Ratio','Variable'].min()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df

         RS_Ratio             Variable
Cluster
0        0.162976              density
1        0.222761  free sulfur dioxide
2        0.330534            chlorides
3        0.233299          citric acid
4        0.000000              alcohol

Variables Left

In [ ]:
df['Variable'].values

array(['density', 'free sulfur dioxide', 'chlorides', 'citric acid',
       'alcohol'], dtype=object)