### File read and write operations

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df1 = pd.read_csv('ex1.csv')
df1.head(4)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
df2 = pd.read_table('test.tsv')
df2.tail()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [10]:
df3 = pd.read_csv('ex2.csv', names = ['ab','ac','ad','abb','azz','ayy','aw'])
df3.head()

   ab  ac  ad  abb    azz  ayy  aw
0   1   2   3    4  hello  NaN NaN
1   5   6   7    8  world  NaN NaN
2   9  10  11   12    foo  NaN NaN

In [14]:
bb_data = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')
bb_data[0].tail(10)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
665,485,Brandan Wright,PF,27,PHO,40,7,858,120,207,...,.667,70,124,194,23,32,47,16,54,280
666,486,Dorell Wright,SF,29,POR,48,2,592,72,190,...,.810,14,97,111,41,20,11,18,55,219
667,487,Tony Wroten,PG,21,PHI,30,15,895,175,434,...,.667,22,64,86,157,48,8,113,72,507
668,488,James Young,SG,19,BOS,31,0,332,36,102,...,.552,9,33,42,13,8,2,5,22,105
669,489,Nick Young,SG,29,LAL,42,0,1000,174,476,...,.892,17,79,96,41,23,11,44,83,563
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [17]:
# for column names
bb_data[0].columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [19]:
# datatypes of each column
bb_data[0].dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [20]:
import csv
f = open('ex2.csv')
reader = csv.reader(f)
reader

In [21]:
for i in reader:
    print(i)

['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']

In [22]:
with open('ex2.csv') as f:
    lines = list(csv.reader(f))

In [23]:
lines

[['1', '2', '3', '4', 'hello'],
 ['5', '6', '7', '8', 'world'],
 ['9', '10', '11', '12', 'foo']]

In [24]:
header, values = lines[0], lines[1:]

In [25]:
for i in zip(header,zip(*values)):
    print(i)

('1', ('5', '9'))
('2', ('6', '10'))
('3', ('7', '11'))
('4', ('8', '12'))
('hello', ('world', 'foo'))

In [27]:
data_dict = {h: v for h,v in zip(header, zip(*values))}
data_dict

{'1': ('5', '9'),
 '2': ('6', '10'),
 '3': ('7', '11'),
 '4': ('8', '12'),
 'hello': ('world', 'foo')}

### JSON Data

In [12]:
obj = ''' {
  "name":"John",
  "age":30,
  "cars": {
    "car1":"Ford",
    "car2":"BMW",
    "car3":"Fiat"
  }
 }'''

In [13]:
import json
result = json.loads(obj)
result

{'name': 'John',
 'age': 30,
 'cars': {'car1': 'Ford', 'car2': 'BMW', 'car3': 'Fiat'}}

In [14]:
# dump - converts it again to a string type object
asjson = json.dumps(result)

In [18]:
type(asjson)

str

In [16]:
pd.DataFrame(result)

      name  age  cars
car1  John   30  Ford
car2  John   30   BMW
car3  John   30  Fiat

In [17]:
result['cars']

{'car1': 'Ford', 'car2': 'BMW', 'car3': 'Fiat'}

In [21]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [22]:
print(data.to_json())

{"something":{"0":"one","1":"two","2":"three"},"a":{"0":1,"1":5,"2":9},"b":{"0":2,"1":6,"2":10},"c":{"0":3.0,"1":null,"2":11.0},"d":{"0":4,"1":8,"2":12},"message":{"0":null,"1":"world","2":"foo"}}

In [24]:
print(data.to_json(orient = 'records'))

[{"something":"one","a":1,"b":2,"c":3.0,"d":4,"message":null},{"something":"two","a":5,"b":6,"c":null,"d":8,"message":"world"},{"something":"three","a":9,"b":10,"c":11.0,"d":12,"message":"foo"}]

### HTML Data

In [30]:
# reading data from an HTML Page
tables = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/banklist.html')
len(tables)
fails = tables[0]
fails.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"

In [31]:
fails.dtypes

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
dtype: object

In [32]:
type(fails['Closing Date'])

pandas.core.series.Series

In [34]:
# Date time format conversion 
timestampss = pd.to_datetime(fails['Closing Date'])
timestampss

0     2020-04-03
1     2020-02-14
2     2019-11-01
3     2019-10-25
4     2019-10-25
         ...
556   2001-07-27
557   2001-05-03
558   2001-02-02
559   2000-12-14
560   2000-10-13
Name: Closing Date, Length: 561, dtype: datetime64[ns]

In [35]:
# value counts groups data according to the year here and displays the count
timestampss.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2016      5
2001      4
2019      4
2004      4
2007      3
2003      3
2020      2
2000      2
Name: Closing Date, dtype: int64

In [36]:
timestampss.dt.day.value_counts()

23    31
30    30
19    30
20    27
17    23
16    22
14    21
18    21
15    21
4     21
7     20
2     20
28    19
24    19
27    19
22    18
11    18
21    17
29    16
26    16
13    16
5     16
25    15
8     14
6     14
10    14
9     10
12    10
31     9
1      9
3      5
Name: Closing Date, dtype: int64

In [37]:
timestampss.dt.week.value_counts()

17    26
44    20
30    20
29    20
4     19
3     18
33    18
50    17
42    16
7     16
15    16
27    15
28    14
45    13
43    13
16    13
18    12
37    12
9     12
21    11
31    11
12    11
10    11
6     11
5     11
41    11
19    10
36    10
46    10
51     9
25     9
26     9
49     9
40     9
38     8
23     8
11     8
22     8
20     7
2      7
39     7
34     7
8      6
35     6
32     6
24     6
14     5
47     4
13     3
1      3
Name: Closing Date, dtype: int64

In [2]:
# If we want to save date in the local system 
import pandas as pd
data = pd.read_csv('ex5.csv')
df = data[['a','b','c','d']]
df

   a   b     c   d
0  1   2   3.0   4
1  5   6   NaN   8
2  9  10  11.0  12

In [3]:
df.to_csv('/home/radhika/Machine-Learning-and-Data-Science-Algorithms/Working with Pandas/out.csv', sep='#')

In [7]:
# if we don't want to store row indexes 
df.to_csv('/home/radhika/Machine-Learning-and-Data-Science-Algorithms/Working with Pandas/out1.csv', sep='#', index = False)

In [6]:
# if we don't want to store row indexes also no headers
df.to_csv('/home/radhika/Machine-Learning-and-Data-Science-Algorithms/Working with Pandas/out2.csv', sep='#', index = False, header = False)

In [9]:
# Own column names to the data 
df.to_csv('/home/radhika/Machine-Learning-and-Data-Science-Algorithms/Working with Pandas/out3.csv',index = False, header = False,columns = ['a','b','c'])

In [10]:
# csv.reader creates an iterable object for the file to read the data
import csv 
f = open('ex5.csv')
reader = csv.reader(f)
reader

In [11]:
for i in reader:
    print(i)

['something', 'a', 'b', 'c', 'd', 'message']
['one', '1', '2', '3', '4', 'NA']
['two', '5', '6', '', '8', 'world']
['three', '9', '10', '11', '12', 'foo']

### Binary File Format
- pickle is a binary file format
- when we try to read data from HD serialization - deserialization takes place(object to bytecode and vice versa).
- pickle files are bytecode files that are not readable to us. Does'nt follow the UTF-8 encoding.

In [40]:

fr = pd.read_csv('ex1.csv')
fr
fr.to_pickle('frame_Pickle')

In [41]:
pd.read_pickle('frame_Pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Using HDF5(Hierarchical Data Format version 5) Format

In [48]:
# h5 format (noty readable to us)
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['ob1'] = frame
store['ob2'] = frame['a']

In [49]:
# Here's how you can read that data
store.put('ob2', frame, format='table')
store.select('ob2', where = ['index >=10 and index <= 15'])
# store.close()

           a
10 -0.755981
11  1.378976
12  3.016376
13  0.616259
14 -0.563720
15 -0.357683

In [50]:
# closes the file mydata.h5
store.close()

### Web APIs

In [54]:
import requests 
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [55]:
pd.read_csv('https://api.github.com/repos/pandas-dev/pandas/issues')

Empty DataFrame
Columns: [[{"url":"https://api.github.com/repos/pandas-dev/pandas/issues/36386", repository_url:"https://api.github.com/repos/pandas-dev/pandas", labels_url:"https://api.github.com/repos/pandas-dev/pandas/issues/36386/labels{/name}", comments_url:"https://api.github.com/repos/pandas-dev/pandas/issues/36386/comments", events_url:"https://api.github.com/repos/pandas-dev/pandas/issues/36386/events", html_url:"https://github.com/pandas-dev/pandas/pull/36386", id:702179908, node_id:"MDExOlB1bGxSZXF1ZXN0NDg3NDk3MzQz", number:36386, title:"BLD: Restrict ci/code_checks.sh to tracked repo files", user:{"login":"plammens", id:18049056, node_id:"MDQ6VXNlcjE4MDQ5MDU2", avatar_url:"https://avatars2.githubusercontent.com/u/18049056?v=4", gravatar_id:"", url:"https://api.github.com/users/plammens", html_url:"https://github.com/plammens", followers_url:"https://api.github.com/users/plammens/followers", following_url:"https://api.github.com/users/plammens/following{/other_user}", gists_url:"https://api.github.com/users/plammens/gists{/gist_id}", starred_url:"https://api.github.com/users/plammens/starred{/owner}{/repo}", subscriptions_url:"https://api.github.com/users/plammens/subscriptions", organizations_url:"https://api.github.com/users/plammens/orgs", repos_url:"https://api.github.com/users/plammens/repos", events_url:"https://api.github.com/users/plammens/events{/privacy}", received_events_url:"https://api.github.com/users/plammens/received_events", type:"User", site_admin:false}, labels:[], state:"open", locked:false, assignee:null, assignees:[], milestone:null, comments:0, created_at:"2020-09-15T19:05:11Z", updated_at:"2020-09-15T19:07:09Z", closed_at:null, author_association:"NONE", active_lock_reason:null, pull_request:{"url":"https://api.github.com/repos/pandas-dev/pandas/pulls/36386", html_url:"https://github.com/pandas-dev/pandas/pull/36386".1, diff_url:"https://github.com/pandas-dev/pandas/pull/36386.diff", patch_url:"https://github.com/pandas-dev/pandas/pull/36386.patch"}, body:"[Draft]\r\n\r\n- [x] closes #36368 \r\n- [x] passes `git diff upstream/master -u -- \"*.py\" | flake8 --diff`\r\n\r\nPreviously,  some of the checks in `code_checks.sh` ran unrestricted on all the\r\ncontents of the repository root (recursively),  so that if any files extraneous\r\nto the repo were present (e.g. a virtual environment directory),  they were\r\nchecked too,  potentially causing many false positives when a developer runs\r\n`./ci/code_checks.sh` locally to check that the code is ready to be put in a PR.\r\n\r\nThe checker invocations that were already scoped (i.e. they were already\r\nrestricted,  in one way or another,  to the actual pandas code,  e.g. by\r\nrestricting the search to the `pandas` subfolder) have been left as-is, \r\nwhile those that weren't are now given an explicit list of files that are\r\ntracked in the repo.\r\n", performed_via_github_app:null}, {"url":"https://api.github.com/repos/pandas-dev/pandas/issues/36385", repository_url:"https://api.github.com/repos/pandas-dev/pandas".1, labels_url:"https://api.github.com/repos/pandas-dev/pandas/issues/36385/labels{/name}", comments_url:"https://api.github.com/repos/pandas-dev/pandas/issues/36385/comments", events_url:"https://api.github.com/repos/pandas-dev/pandas/issues/36385/events", html_url:"https://github.com/pandas-dev/pandas/pull/36385", id:702063403, node_id:"MDExOlB1bGxSZXF1ZXN0NDg3NDAzMTU4", number:36385, title:"BUG: Always cast to Categorical in lexsort_indexer", user:{"login":"dsaxton", id:2658661, node_id:"MDQ6VXNlcjI2NTg2NjE=", avatar_url:"https://avatars0.githubusercontent.com/u/2658661?v=4", gravatar_id:"".1, url:"https://api.github.com/users/dsaxton", html_url:"https://github.com/dsaxton", followers_url:"https://api.github.com/users/dsaxton/followers", following_url:"https://api.github.com/users/dsaxton/following{/other_user}", gists_url:"https://api.github.com/users/dsaxton/gists{/gist_id}", starred_url:"https://api.github.com/users/dsaxton/starred{/owner}{/repo}", subscriptions_url:"https://api.github.com/users/dsaxton/subscriptions", organizations_url:"https://api.github.com/users/dsaxton/orgs", repos_url:"https://api.github.com/users/dsaxton/repos", events_url:"https://api.github.com/users/dsaxton/events{/privacy}", received_events_url:"https://api.github.com/users/dsaxton/received_events", type:"User".1, site_admin:false}.1, labels:[{"id":57296398, node_id:"MDU6TGFiZWw1NzI5NjM5OA==", url:"https://api.github.com/repos/pandas-dev/pandas/labels/Algos", name:"Algos", color:"eb6420", default:false, description:"Non-arithmetic algos: value_counts,  factorize,  sorting,  isin,  clip,  shift,  diff"}, {"id":76811, node_id:"MDU6TGFiZWw3NjgxMQ==", url:"https://api.github.com/repos/pandas-dev/pandas/labels/Bug", name:"Bug", color:"e10c02", ...]
Index: []

[0 rows x 2429 columns]

In [57]:
data=resp.json()

In [60]:
type(data[0])

dict

In [59]:
len(data)

30

In [62]:
data[2]['user']['id']

8078968

In [65]:
pd.DataFrame(data)['user'][0]

{'login': 'plammens',
 'id': 18049056,
 'node_id': 'MDQ6VXNlcjE4MDQ5MDU2',
 'avatar_url': 'https://avatars2.githubusercontent.com/u/18049056?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/plammens',
 'html_url': 'https://github.com/plammens',
 'followers_url': 'https://api.github.com/users/plammens/followers',
 'following_url': 'https://api.github.com/users/plammens/following{/other_user}',
 'gists_url': 'https://api.github.com/users/plammens/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/plammens/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/plammens/subscriptions',
 'organizations_url': 'https://api.github.com/users/plammens/orgs',
 'repos_url': 'https://api.github.com/users/plammens/repos',
 'events_url': 'https://api.github.com/users/plammens/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/plammens/received_events',
 'type': 'User',
 'site_admin': False}